:root {
  --bg-color: #062b79;
  --upper-card-layer: #16498a;
  --lower-card-layer: #5995b7;
  --button-color: #9cdbff;
  --nav-text: #062b79;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #550701;
    --upper-card-layer: #be2501;
    --lower-card-layer: #911201;
    --button-color: #f07601;
    --nav-text: #550701;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #062b79;
    --upper-card-layer: #16498a;
    --lower-card-layer: #5995b7;
    --button-color: #9cdbff;
    --nav-text: #062b79;
  }
}

@font-face {
  font-family: 'Iceberg';
  src: url('../assets/Iceberg/Iceberg-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Iceberg', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
